<div class="settings">
  <div id="instagram">
    <h3>Instagram logins</h3>
    <% if @instagram_users.count == 0 %>
      <div>There are no users</div>
    <% end %>
    <% @instagram_users.each do |user| %>
      <div><%= user.username %></div>
    <% end %>
    <%= link_to ("<i class='fa fa-instagram'></i> Sign in to Instagram").html_safe, @instagram_oauth_code_link, :target =>
    "_blank", :class=> "instagramLogin" %>
  </div>
  <div id="twitter">
    <h3>Twitter logins</h3>

    <%= link_to ("<i class='fa fa-twitter'></i> Sign in to Twitter").html_safe,  @twitter_oauth_code_link, :target => "_blank",
    :class => "twitterLogin" %>
  </div>
  <div id="hashtags">
    <h3>Hashtags</h3>
  </div>
</div>
