<div class="settings">
  <div id="instagram">
    <h3>Instagram logins</h3>
    <%= link_to ("<i class='fa fa-instagram'></i> Sign in to Instagram").html_safe, @instagram_oauth_code_link, :target =>
    "_blank", :class=> "instagramLogin" %>

    <%= @token.token if @token != nil %>
  </div>
  <div id="twitter">
    <h3>Twitter logins</h3>

    <%= link_to ("<i class='fa fa-twitter'></i> Sign in to Twitter").html_safe,  @twitter_oauth_code_link, :target => "_blank",
    :class => "twitterLogin" %>
  </div>
  <div id="hashtags">
    <h3>Hashtags</h3>
  </div>
</div>
