<div class="darkWrapper">
  <div id="stream" class="photoStream">
    <div id="currentPhoto" class="photoContainer">
    </div>
    <div id="photoDetails" class="detailsContainer">
      <div id="userDetails" class="userDetails">
        <div id="profile" class="profilePhoto">
        </div>
        <div id="names">
          <span id="username"></span>
          <span id="fullname"></span>
        </div>
      </div>
      <div id="caption">
        <span id="captionText" class="caption"></span>
        <div id="likes" class="heartContainer">
          <svg class="icon icon-heart"><use xlink:href="#icon-heart"></use></svg>
          <span id="likeCount"></span>
      </div>
    </div>
  </div>
</div>
</div>

<script type="text/javascript">
var photoSwitchTimer = <%= ENV['photo_switch_timer'] -%>;
</script>
