.twitterLogin{
  @extend .linkButton;
  background-color: $twitterBlue;
  color: #ffffff;
}

.instagramLogin{
  @extend .linkButton;
  background-color: $instagramBrown;
  color: #ffffff;
}

.settings{
  @include span-columns(4);
  @include shift(4);
}

#instagram, #twitter, #hashtags{
  @include shift(2);
}
