.twitterLogin{
  @extend .linkButton;
  background-color: $twitterBlue;
  color: #ffffff;
  &:hover{
    background-color: darken($twitterBlue, 10);
  }
}

.instagramLogin{
  @extend .linkButton;
  background-color: $instagramBrown;
  color: #ffffff;

  &:hover{
    background-color: darken($instagramBrown, 10);
  }
}

.instagramUser, .noUsers{
  margin-bottom: 15px;
}

.settings{
  @include span-columns(4);
  @include shift(4);
  @include display(flex);
  @include flex-direction(column);
  @include align-items(center);
}

.profilePicture{
  @include size(40px);
  vertical-align: middle;
}

.notices{
  @include span-columns(4);
  @include shift(4);
  @include display(flex);
  @include flex-direction(column);
  @include align-items(center);

  background-color: #71c171;
  padding: 5px;
  border-radius: 4px;
}

input{
  border: 1px #d3d3d3 solid;
  border-radius: 2px;
  font-size: 14px;

  &[type=number]{
    text-align: right;
  }
}

#refresh{
  .icon{
    margin-left: 4px;
  }
}
